<a href="https://colab.research.google.com/github/SeolahHwang/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_2%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 2강 - 데이터 분석을 위한 파이썬 1

## 2-1 리스트 슬라이싱

In [2]:
numbers = [10, 20, 30, 40, 50, 60, 70]
# 첫 4개의 원소 출력
first_four = numbers[:4] #[0: 4] 첫번째와 마지막은 생략가능
print(first_four)
# 뒤 3개의 원소를 출력
last_three = numbers[-3:] #[-3: 7] 첫번째와 마지막은 생략가능
print(last_three)

[10, 20, 30, 40]
[50, 60, 70]

In [3]:
numbers = [10, 20, 30, 40, 50, 60, 70]

# 홀수번째 항목 출력
every_other_list = numbers[::2]
print(every_other_list)

# 역순 출력
reverse_list = numbers[::-1]
print(reverse_list)

[10, 30, 50, 70]
[70, 60, 50, 40, 30, 20, 10]

In [4]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
] #2차원 리스트

# 첫 두 행 출력
first_two_rows = matrix[0:2]
print(first_two_rows)

# 첫 두 열 출력
# 행을 가지고 온 후 각 행의 열을 가져온다
first_two_columns = [row[0:2] for row in matrix] # []리스트로 막아준다 / 각 row 를 가져오면서 그 row 를 조작
print(first_two_columns)

[[1, 2, 3, 4], [5, 6, 7, 8]]
[[1, 2], [5, 6], [9, 10], [13, 14]]

## 2-2 리스트 컴프리헨션

In [5]:
numbers = [ ]

# 0 ~ 4 포함 리스트 생성
# for i in range(5):
#     numbers.append(i)
# 간편화
numbers = [num for num in range(5)]
print(numbers)

[0, 1, 2, 3, 4]

In [8]:
numbers = [1, 2, 3, 4, 5]
squares = [ ]

# numbers의 모든 항목의 값을 제곱한 리스트
# for num in numbers:
#   squares.append(num ** 2)
squares = [num ** 2 for num in numbers]
print(squares)

[1, 4, 9, 16, 25]

In [9]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [ ]

# 짝수만 추출한 리스트
# for num in numbers:
#     if num % 2 == 0:
#         even_numbers.append(num)
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [10]:
list1 = ['사과', '복숭아', '바나나']
list2 = ['주스', '잼', '통조림']
pairs = [ ]

# 두 리스트에 포함되 모든 원소를 조합한 투플의 리스트 생성
# for fruit in list1:
#     for product in list2:
#         pairs.append((fruit, product))
pairs = [(fruit, product) for fruit in list1 for product in list2]
print(pairs)

[('사과', '주스'), ('사과', '잼'), ('사과', '통조림'), ('복숭아', '주스'), ('복숭아', '잼'), ('복숭아', '통조림'), ('바나나', '주스'), ('바나나', '잼'), ('바나나', '통조림')]

In [11]:
squares = { }

# 딕셔너리 생성
# for i in range(5):
#     squares[i] = i ** 2
squares = { i: i ** 2 for i in range(5) }
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [12]:
city_population = {
    '서울': 957, '부산': 339, '인천': 294, '대구': 242, '광주': 145, '대전': 147,
    '울산': 114, '세종': 36, '수원': 115, '창원': 103, '고양': 105, '용인': 108, '성남': 94
}

# 인구 200만명 이상의 도시 리스트
large_cities = { city: pop for city, pop in city_population.items() if pop >= 200 } # 각각의 딕셔너리 엘리먼트가 묶여서 가져옴
print(large_cities)

# 인구 300만 이상 및 이름에 '산'이 포함된 도시 리스트
large_short_name_cities = { city: pop for city, pop in city_population.items() if pop >= 300 and '산' in city }
print(large_short_name_cities)

{'서울': 957, '부산': 339, '인천': 294, '대구': 242}
{'부산': 339}

## 2-3 문자열 형식화

In [13]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# C 스타일 문자열 포매팅
# 이름, 나이, 월급 출력
basic_format = '이름: %s, 나이: %d, 월급: %d원' % (name, age, salary) # 실수는 %f
# 직원이름, 나이, 세후 월급 출력


# 직원이름, 나이, 월급, 세금, 실수령액 추력


print(basic_format)
# print(index_format)
# print(keyword_format)

이름: 홍길동, 나이: 30, 월급: 3500000원

In [16]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# str.format 문자열 포매팅
# 이름, 나이, 월급 출력
# basic_format = '이름: {}, 나이: {}, 월급: {}원'.format(name, age, salary)
basic_format = '이름: {0}, 월급: {2}나이: {1}, 월급: {2}원'.format(name, age, salary) # 인덱스 지정
# 직원이름, 나이, 세후 월급 출력

# 직원이름, 나이, 월급, 세금, 실수령액 추력


print(basic_format)
# print(index_format)
# print(keyword_format)

이름: 홍길동, 월급: 3500000나이: 30, 월급: 3500000원

In [18]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# f-문자열 포매팅
# 이름, 나이, 월급 출력
# basic_format = F'이름: {name}, 나이: {age}, 월급: {salary}원' # f or F : f문자열은 장점이 많다
basic_format = F'이름: {name}, 나이: {age}, 월급: {salary: ,}원' # , 넣고 싶다면
# 직원이름, 나이, 세후 월급 출력

# 직원이름, 나이, 월급, 세금, 실수령액 추력


print(basic_format)
# print(index_format)
# print(keyword_format)

이름: 홍길동, 나이: 30, 월급:  3,500,000원

## 2-4 컨텍스트 관리

In [19]:
# 파일 오픈 & 클로즈
# file = open('output.txt', 'w')
# file.write('Hello, world!\n')
# file.close()
# close 를 안하면 리소스 고갈, 오류 발생, 메모리 누수 발생
# 이런 악순환이 계속 된다
# 아예 close 를 하지 않게 임시적으로만 리소스를 사용하게끔 만드는 것: 컨텍스트 매니지먼트의 가장 큰 목적
with open('output.txt', 'w') as file_write:
    file_write.write('Hello, world!\n')
# 꼭 파일이 아니라 리스트를 만들 때, 딕셔너리할 때도 사용할 수 있다.

In [ ]:
# 복수개의 파일(읽기 & 쓰기) 관리

In [21]:
import urllib.request

# URL 연결 관리
url = 'https://raw.githubusercontent.com/jaehwachung/Data-Analysis-with-Open-Source/refs/heads/main/Chapter%203/students.csv'
#     data = response.read( ).decode('utf-8')
# URL 열기 (요청 보내기)
response = urllib.request.urlopen(url)
# 응답 데이터 읽기
data = response.read().decode('utf-8')
print(data)

학번,이름,데이터베이스,파이썬,클라우드
101,김철수,85,78,92
102,이영희,76,82,78
103,박지민,92,95,85
104,최준서,63,70,75
105,정미나,88,84,91